[submodule "/home/ehsan/.config/nvim/lua/custom"]
	path = /home/ehsan/.config/nvim/lua/custom
	url = git@github.com:EhsanC/neovim-config.git
[submodule "/home/ehsan/.zshplugins/zsh-syntax-highlighting"]
	path = /home/ehsan/.zshplugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "/home/ehsan/.zshplugins/zsh-autocomplete"]
	path = /home/ehsan/.zshplugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
