#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Blender Alpha
GenericName=3D modeler
Comment=3D modeling, animation, rendering and post-production
Keywords=3d;cg;modeling;animation;painting;sculpting;texturing;video editing;video tracking;rendering;render engine;cycles;game engine;python;
Exec=/home/ehsan/Softwares/Blender/blenderAlpha/blender %f
Icon=/home/ehsan/Softwares/Icons/blenderAlpha.svg
Terminal=false
Type=Application
#PrefersNonDefaultGPU=true
#X-KDE-RunOnDiscreteGpu=true
Categories=Graphics;3DGraphics;
MimeType=application/x-blender;
StartupWMClass=Blender
